/* Clases generales*/
body{
    background-color: black;
    color: #ffebcd;
}

article{
    background-color: rgb(44, 43, 43);
    padding: 1.5rem;
    border-bottom: #FFFFFF 1px solid;
}

#título_del_blog{
    text-align: center;
    font-size: 3rem;
}
/* Termina clases generales*/

/* Barra de navegación*/
.resaltado{
    color: yellow;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    color:#fff;
}
/* Fin barra de navegación */

/* Footer del blog */
#footer_del_blog{
    margin: 2rem;
    display: flex;
    text-align: center;
    padding: 4rem 0 4rem 0;
    justify-content: space-evenly;
    font-size: 1.3rem;
}
/* Fin footer del blog */

/* Ilustraciones */
.ilustración{
    border: white 4px solid;
    display: inline-block;
}

.ilustración_figcaption{
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}
/* Fin ilustraciones */

/* Grid */
section{
    
    /* Despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* Deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* Añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}
/* Termina grid */

/* Apunta sólo a los header que son hijos directos de section */
section>header{
    /* Esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

section>main{
    /* Esta sección se extenderá 8 columnas. */
    grid-column: span 8;
}

section>aside{
    /* Esta sección se extenderá 4 columnas. */
    grid-column: span 4;
}

section>footer{
    /* Esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

nav{
    font-size: 1.3rem;
}

nav>ul>li>a:hover{
    text-decoration: underline;
    color: greenyellow;
}

nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5rem;
}

article>header>hgroup{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

article>header>hgroup>h2{
    display: flex;
    text-align: center;
}

article>header>hgroup>h2>img{
    margin-right: 1rem;
}

#footer_del_blog div:nth-child(2){
    font-size: 0.9rem;
}

aside>h2{
    text-align: center;
    font-size: 1.3rem;
}

aside div:nth-of-type(even){
    background-color: rgb(44, 43, 43);
}

aside div img{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
}

aside div {
    display: flex;
    align-items: center;
}